@font-face{
    font-family: "PT Sans";
    src: url('assets/fonts/pt-sans/PTS55F.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "PT Sans - Narrow Bold";
    src: url('assets/fonts/pt-sans/PTN77F.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Open Sans";
    src: url('assets/fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Segoe WP";
    src: url('assets/fonts/segoe-wp-light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lucida Sans";
    src: url('assets/fonts/LSANSI.TTF');
    font-weight: italic;
    font-style: normal;
}
@font-face {
    font-family: Asap;
    src: url('assets/fonts/asap/Asap-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}
body {
    width: 1300px;
    height: 1847px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a {
    color: #000 !important;
    text-decoration: none;
}
/*--------------------HEADER---------------*/
header {
    position: relative;
    display: flex;
    padding: 0 140px;
    width: 100%;
    height: 566px;
    background: url(assets/Layer_20.png) no-repeat top center;
}
.main-logo {
    position: relative;
    top: 28px;
    width: 83px;
    height: 83px;
    background: url(assets/Shape_8_copy_3.svg) no-repeat center;
}
.backgr-logo {
    position: absolute;
    top: 1px;
    left: 1.5px;
    width: 80px;
    height: 80px;
    background: url(assets/Shape_8_copy_4.svg) no-repeat center;
}
.main-text{
    position: relative;
    top: 51px;
    left: 4px;
    width: 225px;
    height: 30px;
    text-shadow: 0 2px 0 #0000006b;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-size: 41px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.41px;
}
.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    width: 453px;
    height: 41px;
    top: 71px;
    left: 259px;
    background-color: #f5c506;
}
.list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.list li {
    display: inline-block;
    position: relative;
    top: 9px;
    width: 100px;
    height: 30px;
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
} 
.list li:hover {
    transform: scale(1.2);
    color: brown;
    transition: 0.5s;
}
.logo-about {
    left: -5px;
}
.logo-services {
    left: 39px;
}
.logo-contact {
    left: 78px;
}
.list li::before {
    content: '';
    position: absolute;
}
.logo-about::before {
    left: -30px;
    top: 3px;
    width: 21px;
    height: 19px;
    background: url(assets/Shape_5.svg) no-repeat center;
}
.logo-services::before {
    left: -28px;
    top: 2px;
    width: 19px;
    height: 19px;
    color: #b99403;
    background: url(assets/Shape_6.svg) no-repeat center;
}
.logo-contact::before {
    left: -32px;
    top: 2px;
    width: 24px;
    height: 18px;
    color: #b99403;
    background: url(assets/Shape_7.svg) no-repeat center;
}
.borders {
    position: absolute;
    display: block;
    left: 173px;
    top: 1px;
    width: 131px;
    height: 40px;
    border-left: #dcb105 solid 1px;
    border-right: #dcb105 solid 1px;
}
.first {
    position: absolute;
    top: 66px;
    left: 703px;
    opacity: 0.27;
}
.second {
    position: absolute;
    top: 63px;
    left: 699px;
    opacity: 0.27;
} 
.video-header {
    position: absolute;
    display: block;
    left: 150px;
    top: 168px;
    width: 549px;
    height: 327px;
}
.video-desctop {
    display: block;
}
.video-mobile {
    display: none;
    visibility: hidden;
}
.video-header video {
    position: absolute;
    display: block;
    height: 327px;
}
.video-filter {
    position: absolute;
    display: block;
    width: 549px;
    height: 327px;
    top: 0px;
    background: url(assets/Layer_18.png) no-repeat center;
}
.slider-video-button {
    outline-style: none;
    border: none;
    position: absolute;
    display: block;
    width: 61px;
    height: 61px;
    background-color: rgba(245, 197, 6, 0.72);
    border-radius: 50%;
    left: 244px;
    top: 133px;
    transform: scale(1.1);
}
.slider-video-button img {
    position: relative;
    display: flex;
    justify-content: center;
    left: 40%;
}
.controls {
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 300px;
    height: 27px;
    left: 29px;
    top: 278px;
}
.button-play {
    outline-style: none;
    border: none;
    display: block;
    position: relative;
    left: 0px;
    background: url(assets/Layer_16.png);
    width: 27px;
    height: 27px;
}
.button-play img {
    position: relative;
    display: flex;
    align-items: center;
    left: 10px;
}
.controls div {
    position: absolute;
    display: flex;
    top: 8px;
    left: 51px;
    width: 404px;
    height: 12px;
    background-color: rgba(245, 197, 6, 0.28);
    border-radius: 6px;
}
.button-sound {
    outline-style: none;
    border: none;
    display: block;
    left: 459px;
    top: 2px;
    position: relative;
    background: none;
}
.scroll span {
    display: block;
    position: absolute;
    background-color: #f5c507;
    width: 179px;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.slogan {
    position: absolute;
    display: inline;
    justify-content: center;
    width: 420px;
    height: 121px;
    color: #ffffff;
    font-family: Asap;
    font-size: 63px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.63px;
    left: 789px;
    top: 239px;
}
.slogan span:first-child {
    color: #f5c506;
}
.slogan span:last-child {
    position: relative;
    left: -40px;
    top: -3px;
}
.button-slider-header {
    outline-style: none;
    border: none;
    position: absolute;
    display: block;
    width: 32px;
    height: 57px;
    background-color: #f5c506;
}
.button-slider-header img {
    position: relative;
    left: 2px;
}
.button-slider-header:hover {
    background-color: darkred;
    box-shadow: 5px 5px 30px darkred;
    transition: 0.6s;
}
.right {
    left: 1268px;
    top: 300px;
}
.left {
    transform: rotate(180deg);
    left: 0px;
    top: 300px;
}
/*-----------------MAIN-----------------------*/
 main {
    position: relative;
    width: 100%;
    height: 1217px;
}
.first-section {
    width: 100%;
    height: 212px;
    background: url(assets/Layer_7.png) no-repeat;
    display: flex;
    justify-content: center;
}
.shadow-up-down {
    box-shadow: 0 6px 4px -4px rgb(255, 0, 0);
    z-index: 10;
}
.container {
    position: relative;
    width: 340px;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}
.container:first-child {
    left: -1px;
}
.container:nth-child(2) {
    border: none;
}
.container img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:first-child img {
    left: 113px;
    top: 61px;
}
.container:nth-child(2) img {
    left: 135px;
    top: 37px;
}
.container:last-child img {
    left: 118px;
    top: 54px;
}
.container span {
    position: relative;
    width: 180px;
    height: 21px;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.27px;
}
.container:first-child span {
    left: 87px;
    top: 70px;
}
.container:nth-child(2) span {
    left: 111px;
    top: 50px;
}
.container:last-child span {
    left: 113px;
    top: 62px;
}

/* ---2nd section--- */
.second-section {
    width: calc(100%-139px);
    height: 508px;
    padding-left: 139px;
    background: url(assets/bg-y.png) no-repeat;
    z-index: 1;
}
.second-section h2 {     /* Text style for "Lorem ipsu" */
    position: relative;
    display: inline;
    top: 31px;
    left: 1px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;
}
.content {
    position: relative;
    display: flex;
    top: 62px;
    width: 1020px;
    height: 233px;
}
.last-news {
    position: relative;
    width: 341px;
    height: 233px;
    background-color: #ec9e03;
}
.last-news p {
    margin-top: 15px;
    margin-left: 31px;
    width: 280px;
    height: 174px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 29px;
    font-weight: 100;
    line-height: 38px;
    letter-spacing: 0.29px;
}
.plus {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    background: url(assets/Shape_11_copy.svg) no-repeat center;
}
.plus:hover {
    transform: scale(2) rotate(360deg);
    transition: 0.6s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aquamarine;
}
.last-news a {
    left: 316px;
    bottom: -20px;
}
.content video {
    position: relative;
    display: block;
    height: 232px;
}
.content-button {
    left: 471px;
    top: 93px;
    transform: scale(1.0);
}
.comment-in-twitt {
    position: relative;
    display: block;
    left: 34px;
    width: 329px;
    height: 233px;
    background-color: #ec9e03;
}
.comment-in-twitt img {
    position: relative;
    display: block;
    left: 83px;
    top: 59px;
}
.comment-in-twitt a {
    left: 309px;
    bottom: -76px;
}
.comment-in-twitt span {
    position: absolute;
    display: block;
    width: 24px;
    height: 18px;
    left: 285px;
    top: 9px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 25px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.25px;
}
.date {
    position: relative;
    display: flex;
    justify-content: center;
    top: 62px;
    width: 113px;
    height: 86px;
    background-color: #ddb101;
}
.day {
    position: relative;
    left: 28px;
    top: 12px;
    width: 55px;
    height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 51px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.51px;
}
.month {
    position: relative;
    left: -24px;
    top: 49px;
    width: 55px;
    height: 15px;
    color: #b26529;
    font-family: "Segoe UI";
    font-size: 21px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.21px;
}
.scroll {
    position: absolute;
    top: 684px;
    left: 212px;
    right: 190px;
    background-color: rgba(255, 255, 255, 0.48);
    height: 15px;
    border-radius: 7.5px;
}
  
.drag {
    position: absolute;
    left: 248px;
    width: 197px;
    height: 15px;
    background-color: #ec9e03;
    border-radius: 7.5px;
} 

/* ---3rd section--- */
.third-section {
    width: 100%;
    height: 497px;
    background: url(assets/Layer_32.png) no-repeat;
}
.third-section h2 {     /* Text style for "Lorem ipsu" */
    position: relative;
    display: inline;
    top: 35px;
    left: 350px;
    color: #f5c506;
    font-family: "PT Sans";
    font-size: 43px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.43px;
} 
.icon-images {
    position: relative;
    top: 81px;
    left: 158px;
    width: 543px;
    height: 255px;
}
.icon-tablet {
    position: relative;
    bottom: 40px;
    left: 20px;
}
.icon-mobile {
    position: relative;
    bottom: 40px;
    left: 41px;
}
.circle {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    top: -217px;
    left: 138px;
    background-color: #f5c506;
    border-radius: 50%;
}
.circle span {
    position: relative;
    display: flex;
    justify-content: center;
    top: 1.5px;
    left: 1px;
    color: #ffffff;
    font-family: "PT Sans - Narrow Bold";
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}
.list-random {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 811px;
    left: 0px;
    top: -265px;
    width: 350px;
    height: 184px;
}
.list-random li {
    position: relative; 
    width: 400px;
    height: 22px;
    margin-top: 26px;
    list-style-type: none;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.22px;
}
.list-random li::before {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    margin-left: -33px;
    margin-bottom: -22px;
    background-color: #f5c506;
    border-radius: 50%;
}
.list-random li:nth-child(2n) {
    margin-top: 28px;
    line-height: 26px;
    margin-bottom: 18px;
}
.list-random li:nth-child(2n)::before {
    margin-bottom: -22px;
}
.list-random li:nth-child(3)::before {
    margin-bottom: -24px;
}
.list-random li:nth-child(4) {
    margin-top: 29px;
}
.list-random li span {
    font-family: "PT Sans";
}
/*-----------------FOOTER---------------*/
footer {
    position: relative;
    display: flex;
    justify-content: flex-start;    
    width: 100%;
    height: 64px;
    background-color: #4c4c4c;
    box-shadow: 0 -2.5px 5px #000000bf;
}
.footer-logo {
    position: relative;
    transform: scale(0.66);
    left: 125px;
    top: -8.2px;
}
.footer-text {
    position: relative;
    top: 17px;
    left: 117px;
    width: 160px;
    height: 21px;
    font-size: 29px;
    letter-spacing: 0.29px;
}
/* 
######___FOR ---MOBILE--- VERSION___#### 
*/
@media screen and (max-width: 640px) {
    .slogan, .button-slider-header,
    .second-section h2, .day,  
    .third-section .scroll, .drag,
    .day, .month, .comment-in-twitt span,
    .comment-in-twitt a,

    .third-section, footer {
        display: none;
        visibility: hidden;
        background-color: none;
    }
    * {
        padding: 0;
        margin: 0;
    }
    body {
        width: 640px;
        height: 1550px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a {
        color: #000 !important;
        text-decoration: none;
    }
    /* ---HEADER_FOR -MOBILE VERSION--- */
    header {
        position: relative;
        display: flex;
        width: 100%;
        height: 566px;
        background: url(assets/Layer_26.png) no-repeat;
    }
    .main-logo {
        position: absolute;
        top: -11px;
        left: -10px;
        transform: scale(0.48);
    }
    .main-text {
        position: relative;
        top: 22px;
        left: -83px;
        font-weight: normal;
        width: 108px;
        height: 14px;
        text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.42);
        color: #ffffff;
        font-family: "Lucida Sans";
        font-size: 19px;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 0.51px;
    }
    .navigation {
        position: absolute;
        width: 454px;
        height: 62px;
        top: 0px;
        left: 186px;
    }
    .list li {
        top: 18px;
        width: 100px;
        height: 20px;
        font-size: 19px;
        letter-spacing: 0.65px;
    }
    .logo-about {
        left: -19px;
    }
     .logo-services {
        left: 33px;
    }
    .logo-contact {
        left: 79px;
    }
    .logo-about::before {
        left: -33px;
        top: 3px;
        transform: scale(1.2);
    }
    .logo-services::before {
        left: -28px;
        top: 4px;
        transform: scale(1.2);
    }
    .logo-contact::before {
        left: -36px;
        top: 3px;
        transform: scale(1.2);
    }
    .borders {
        left: 172px;
        width: 131px;
        height: 97%;
    } 
    .video-header {
        left: 0px;
        top: 62px;
        width: 640px;
        height: 327px;
    }
    .video-desctop {
        display: none;
        visibility: hidden;  
    }
    .video-mobile {
        display: block;  
        visibility: visible;  
    }
    .video-filter {
        width: 640px;
        background: url(assets/Layer_18_copy.png) no-repeat center;
    }
    .slider-video-button {
        left: 298px;
    }
    .controls {
        left: 83px;
    }
    /* ---MAIN_FOR -MOBILE VERSION--- */
     main {
         position: absolute;
         top: 390px;
         left: 0px;
         height: 1121px;
     }
     .first-section {
         width: 640px;
         height: 174px;
         background: url(assets/Layer_27.png) no-repeat;
     }
     .shadow-up-down {
         box-shadow: none;
     }
     .container {
         width: calc(640px/3);
         height: 100%;
         border: none;
     }
     .container:first-child img {
         transform: scale(0.82);
         left: 36px;
         top: 26px;
     }
     .container:nth-child(2) img {
         transform: scale(0.73);
         left: 69px;
         top: 15px;
     }
     .container:last-child img {
         transform: scale(0.84);
         left: 62px;
         top: 21px;
     }
     .container span {
         width: 154px;
         height: 18px;
         font-size: 23px;
         letter-spacing: 0.23px;
     }
     .container:first-child span {
         left: 18px;
         top: 36px;
     }
     .container:nth-child(2) span {
         left: 57px;
         top: 15px;
     }
     .container:last-child span {
         left: 68px;
         top: 27px;
     }
     /* ---2nd section--- */
     .second-section {
        width: 100%;
        height: 485px;
        padding: 0px;
        background: none;
        background-color: #fff;
    } 
    .content {
        display: flex;
        margin-top: -5px;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .last-news {
        width: 299px;
        height: 232px;
        margin: 10px;
        top: 1px;
        left: -1px;
    }
    .last-news p {
        position: relative;
        margin-top: 15px;
        margin-left: 64px;
        width: 245px;
        height: 189px;
        left: -38px;
        font-weight: 100;
        line-height: 33.9px;
        letter-spacing: 0.33px;
    }
    .plus {
        position: absolute;
        width: 11px;
        height: 11px;
        transform: scale(0.9);
    }
    .plus:hover {
        transform: scale(2) rotate(360deg);
        transition: 0.6s;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: aquamarine;
    }
    .last-news a {
        left: 277px;
        bottom: 17.5px;
    }
    .content video {
        left: -2px;
        top: 10px;
    }
    .content-button {
        left: 447px;
        top: 102px;
    }
    .comment-in-twitt {
        position: absolute;
        left: 0px;
        top: 252px;
        width: 640px;
        height: 233px;
        background-color: #f5c507;
    }
    .date {
        background-color: none;
        display: none;
    }


 
    
    /* ---3rd section--- */
}